<h1>Trash</h1>
<div id="loadercontainer">|<span id="loader" style="display:none"><%=  image_tag 'loader.gif'%></span>|</div>
<p>
    <b>Categories:</b>
</p>
<div id="categories_container">
  <%= render :partial => 'list_of_categories' %>
</div>
<p>
    <b>Dishes:</b>
</p>
<div id="dishes_container">
  <%= render :partial => 'list_of_dishes' %>
</div>
<div id="controllinks">
  <%= link_to 'Empty Trash','/trash/empty', :confirm => 'Are you shure?'  %>&nbsp;|
  <%= link_to 'All Categories', categories_path %>&nbsp;|&nbsp;
  <%= link_to 'All Dishes', dishes_path %>
</div>