<h1>Dishes&nbsp;<span id="loader" style="display:none"><%=  image_tag 'loader.gif'%></span></h1>
<div id="container">
    <%= render :partial => 'list_of_dishes' %>
</div>

<%= link_to 'Add New Dish', new_dish_path %>&nbsp;|
<%= link_to 'All Categories', categories_path %>&nbsp;|
<%= link_to 'Trash', :controller => :trash, :action => :index %>
