<h1>New dish</h1>

<% form_for(@dish) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title, :style => "width: 300px;" %>
  </p>
  <p>
    <%= f.label :ingredients %><br />
    <%= f.text_area :ingredients, :style => "width: 500px; height: 200px;" %>
  </p>
  <p>
    <%= f.label :instructions %><br />
    <%= f.text_area :instructions, :style => "width: 500px; height: 200px;" %>
  </p>
  <p>
    <%= f.label :category %><br />
    <%= f.select :category_id, @categories %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
<div id="controllinks">
  <%= link_to 'Back', dishes_path %>
</div>