<p>
  <b>Title:</b>
  <%=h @dish.title %>
</p>

<p>
  <b>Category:</b>
  <%=h @dish.category.title %>
</p>

<p>
  <b>Ingredients:</b>
  <%=h @dish.ingredients %>
</p>

<p>
  <b>Instructions:</b>
  <%=h @dish.instructions %>
</p>


<%= link_to 'Edit', edit_dish_path(@dish) %>&nbsp;|&nbsp;
<%= link_to 'Move to Trash', @dish, :method => :delete %>&nbsp;|&nbsp;
<%= link_to 'All Dishes', dishes_path %>