<h1>Categories</h1>

<table>
 <% @categories.each do |category| %>
  <tr>
    <td><%=link_to category.title, category %>&nbsp;(<%= category.dishes.size %>)</td>
    <td><%= link_to 'Edit', edit_category_path(category) %></td>
    <td><%= category.id == 1 ? '' : (link_to '[x]', category, :method => :delete) %></td>
    
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add Category', new_category_path %>&nbsp;|&nbsp;
<%= link_to 'All Dishes', dishes_path %>&nbsp;|&nbsp;
<%= link_to 'Trash', :controller => :trash, :action => :index %>
