<h1>Categories&nbsp;<span id="loader" style="display:none"><%=  image_tag 'loader.gif'%></span></h1>
<div id="container">
  <%= render :partial => 'list_of_categories' %>
</div>

<%= link_to 'Add New Category', new_category_path %>&nbsp;|
<%= link_to 'All Dishes', dishes_path %>&nbsp;|
<%= link_to 'Trash', :controller => :trash, :action => :index %>
