<h1><%=h @category.title %>&nbsp;<span id="loader" style="display:none"><%=  image_tag 'loader.gif'%></span></h1>
<p>
  <b>Descriptions:</b>
  <%=h @category.description %>
</p>

<%= link_to 'Edit Category', edit_category_path(@category) %>

<div id="container">
  <%= render :partial => 'list_of_dishes' %>
</div>

<%= link_to 'All Dishes', dishes_path %>&nbsp;|
<%= link_to 'All Categories', categories_path %>&nbsp;|
<%= link_to 'Trash', :controller => :trash, :action => :index %>
<br>
<%= flash[:foo] %>