<p>
  <b>Category:</b>
  <%=h @category.title %>
</p>
<p>
  <b>Description:</b>
  <%=h @category.description %>
</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'All Categories', categories_path %>
<% if @category.dishes.empty? %>
<p>
  <b>No Dishes on Category</b>
</p>
<% else %>
<p>
  <b>Dishes on Category:</b>
</p>
<% @category.dishes.each do |dish| %>
<p>
  <%= link_to dish.title, dish %>
</p>
<% end %>
<% end %>
